body{
    text-align: center;
    font-family: 'Gugi', cursive;
    background: linear-gradient(to right, #8180da,#4CAF50);
}
div{
    border: 2px dashed #090404;
    margin: 10px;
    padding: 5px 30px;
    border-radius: 15px;
    box-shadow: 10px 12px #4eda17;
}
#principal{
    width: 50px;
    float: left;
    border-radius: 50%;
}
div.especial h3{
    font-family: 'Oswald', sans-serif;
    text-shadow: 10px 5px #b71818;
}